# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
# Local config
.env
.env.local
.env.*.local
.venv311/
bun.lock
bun.lockb

# Large Datasets (Consider using LFS or ignoring if not needed in repo)
# public/data/trades.csv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.venv311/*
